@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
:root {
  /* ===== font size / font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  --weight-light: 300;
  /* ===== colors===== */

  --background-color: #fff;
  --primary-color: #a65f00;
  --secondary-color: #fef3c6;

  /* ===== font family =====*/
  --font-title: "Merriweather", serif;
  --font-subtitle: "Inter", sans-serif;
  --font-button: "Inter", sans-serif;
  --font-comment: "Inter", sans-serif;
}
