@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
:root {
  /* ===== font size / font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  --weight-light: 300;
  /* ===== colors===== */

  --background-color: #fff;
  --primary-color: #1e2939;
  --secondary-color: #fef3c6;

  /* ===== font family =====*/
  --font-title: "Merriweather", serif;
  --font-subtitle: "Inter", sans-serif;
  --font-button: "Inter", sans-serif;
  --font-comment: "Inter", sans-serif;
}


.slideshow-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #1e2939; 
  opacity: 0.2;
  z-index: 1;
}
/* ButtonAnimation */
.btnAnime {
  animation: popIn 2s ease-in-out infinite;
  border: 1px solid #1e2939
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

/*-------- Modal Voir pdf ------------*/
/* Overlay floue */
.bg-opacity-40 {
  background-color: rgba(255, 255, 255, 0.4);
}

.backdrop-blur-md {
  backdrop-filter: blur(6px);
}

/* Blur sur premier modal quand 2e modal ouvert */
.filter.blur-sm {
  filter: blur(4px);
}

/* Animation modal */
@keyframes fadeZoomIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.modal-content {
  animation: fadeZoomIn 0.3s ease-out;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.animate-slide-in-left {
  animation: slide-in-left 0.3s ease-out forwards;
}
